/node_modules
# /public/aero
# /public/assets/fotosreales
/public/assets/productos
# /public/admin_assets
# /public/admin_assets/vendor
# /public/hot
# /public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
